.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 30px;
  background: #209cee;
}

.title {
  margin-left: 20px;
}

.pokemon-list {
  width: fit-content;
  padding: 5px;
  border-radius: 4px;
  background: #e8e8e8;
}

.selected-pokemon {
  margin-left: 20px;
}